/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #fff;
$grayDarker: rgba(13, 2, 17, 0.69);
$grayLighter: lightgrey;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background: image_url('background.png') top right no-repeat;
  background-attachment:fixed;
  font-family: arial, sans-serif;
  font-size: 16px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: darkgray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul{
  list-style-type: none;
}

.btn, .btn:hover{
  background-color: #660066;
  border-color: #660066;
}

/* header */

header{
  position: relative;
  top: 0;
  width: 100%;
  height: 94px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  margin-bottom: 50px;
}

.nav-upper-left{
  float: left;
  margin-top: 15px;
  ul {
    li {
      margin: 0;
      float: left;
      img {
        border: 2px solid white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        img:hover{
          -webkit-transform:scale(1.2);
          transform:scale(1.2);
        }
      }
      a{
        color: white;
        margin-left: 10px;
        font-family: arial, sans-serif;
      }
      p{
        margin-left: 10px;
        color: #b30000;
      }
    }
  }
}

.nav-upper-right{
  float: right;
  margin-top: 15px;
  ul{
    li{
      margin-right: 10px;
      float: left;
      a{
        img:hover{
          -webkit-transform:scale(1.2);
          transform:scale(1.2);
        }
        img{
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.pull-right li{
  float: left;
}

/* sidebar */

aside {

  section {
    padding: 10px 0;
    border-top: 1px solid lightgray;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* user profile */

.profile-div{
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
  border-radius: 3px;
  margin-top: 50px;
  width: 70%;
  margin: auto;
  height: 350px;
  background: #f2f2f2;
  .profile-image-div{
    float: left;
    img {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  .profile-info-div{
    float: left;
  }
}

.follow-form{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.unfollow-button{
  background-color: #23527c;
}

.follow-button, .unfollow-button{
  color: white !important;
}

.user-link {
  color: #660066;
}
.home-user-nav{
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
}

/* home feed */
.home-news-feed{
  margin-left: 50px;
  padding: 15px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  background-color: #f2f2f2;
}

.microposts li{
  margin-top: 20px;
  height: 200px;
  display: block;
  a{
    color: #660066
  }
}

.feed-item{
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}

.feed-item-user{
  float: left;
  padding-left: 0px;
  img{
    border-top-left-radius: 5px;
  }
}

.feed-item-actions{
  padding-left: 0px;
  p{
    color: #b30000;
  }
}

.feed-item-content{
  padding-left: 0px;
  word-wrap: break-word;
  padding: 10px;
  background-color: #e4d1d1;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 5px;
}

.edit-profile{
  background-color: #f2f2f2;
  width: 70%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

  @include box_sizing;
}

input {
  height: auto !important;
}

.row{
  width: 100%;
  margin: auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  color: darkred;
}

.alert{
  background: pink;
}

.alert-success{
  background: mediumseagreen;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
}

.users-index-li {
  width: 100%;
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
  overflow: auto;
}

.users-index-image-div{
  float: left;
}

.users-index-info-div{
  float: left;
  margin-left: 20px;
  a{
    color: #660066;
  }
}

/* microposts */

.timestamp {
  color: darkgray;
}

/* home non signed */

@font-face {
  font-family: "Badscript";
  src: url('/assets/Badscriptregular.ttf') format("truetype");
}

.non-signed-home-div{
  p{
    color: white;
    font-size: 2em;
    font-family: "Badscript";
  }
  a{
    color:white;
  }
}

.sign-in-link{
  font-size: 9em;
  font-family: "Badscript";
}

.sign-out-link{
  font-size: 6em;
  font-family: "Badscript";
}

.logo{
  margin-top: 20px !important;
  text-align: center;
}

.non-signed-edit{
  margin-top: 50px;
}